@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url(styles/init.css);
@import url(styles/header.css);
@import url(styles/hero_page.css);
@import url(styles/feed.css);
@import url(styles/create.css);
@import url(styles/left_nav.css);
@import url(styles/signin.css);
@import url(styles/utils.css);
@import url(styles/top_menu.css);
@import url(styles/general.css);
@import url(styles/big_map.css);
@import url(styles/map_api.css);
@import url(styles/admin_nav.css);
@import url(styles/dashboard.css);
@import url(styles/analytics.css);
@import url(styles/notif_bar.css);
@import url(styles/users.css);
@import url(styles/profile.css);