.analytics_wrapper {
    color: rgb(var(--color-base-font));
    padding-left: 10px;
    background-color: rgb(var(--color-base-font), 0.05);
    width: calc(100% - 300px);
    min-height: calc(100vh - 61px);
    
}
#dash_inner_header {
    text-transform: uppercase;
}
#analytics #dash_inner_header {
    padding: 10px;
    font-size: 20px;
    text-transform: none;
}
.analytics_table_container {
    padding-right: 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}
.analytics_wrapper h1 {
    margin: 0;
    font-size: 60px;
    text-align: left;
    color: var(--color-primary);
    font-family: 'Arial Black', sans-serif;
}
.analytics_wrapper h2 {
    margin: 0;
    font-size: 40px;
    text-align: left;
    color: var(--color-secondary);
    font-family: 'Arial Black', sans-serif;
}

.analytics_table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}
.analytics_table th, .analytics_table td {
    border: 1px solid rgb(var(--color-base-font), 0.2);
    padding: 10px;
    text-align: left;
}
.analytics_table thead {
    background-color: var(--color-secondary);
    border-radius: 10px;
    color: white;
}
.analytics_table thead th{
    border: none;
    padding: 20px 10px;
    font-size: 16px;

}

.analytics_table tr th {
    cursor: pointer;
}

#analytics .dash-layer {
    width: 100%;
}
.analytics_graph_container {
    width: 100%;
    display: flex;
    gap: 10px;
}
.analytics_graph_container div {
    flex: 1;
    overflow: hidden;
    background-color: rgb(var(--color-base-font), 0.1);
    border-radius: 10px;
}