.notif_bar{
    display: flex;
    position: fixed;
    top: 61px;
    right: -350px;
    flex-direction: column;
    width: 350px;
    height: calc(100vh - 61px);
    background-color: rgba(128, 128, 128, 0.2);
    transition: right 0.5s ease;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 15px 15px;
}
.notif_bar .notif_header {
    color: rgb(var(--color-base-font));
}
#alert-btn {
    aspect-ratio: 1/1;
    width: 30px;
    cursor: pointer;
    filter: invert(var(--filter-dark-mode));
}
.notif_bar .notif_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-primary), gray 30%);
    border-radius: 1.2em;
    padding: 10px 15px;
    &:hover {
        background-color: color-mix(in srgb, var(--color-primary), black 40%);
    }
}
.notif_bar .notif_item .notif_item_date {
    font-size: 0.8em;
    align-self: flex-end;
}
.notif_bar .notif_content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}