.notif_bar{
    display: flex;
    position: fixed;
    top: 61px;
    right: -300px;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: calc(100vh - 61px);
    background-color: color-mix(in srgb, var(--color-secondary), white 20%);
    transition: right 0.5s ease;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-y: auto;
}
.notif_bar .notif_header {
    color: rgb(var(--color-base-font));
}
#alert-btn {
    aspect-ratio: 1/1;
    width: 30px;
    cursor: pointer;
    filter: invert(var(--filter-dark-mode));
}
.notif_bar .notif_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(var(--color-base-background), 0.2);
    padding: 10px;
    color: rgb(var(--color-base-background));
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-primary);
    &:hover {
        background-color: color-mix(in srgb, var(--color-primary), black 40%);
    }
}
.notif_bar .notif_item .notif_item_date {
    font-size: 0.8em;
}