#profile .feed_layer {
    display: flex;
    flex-direction: column;
}
.user_profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    padding-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    width: min(90vw,600px);
}
.profile_horiz_pane {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.profile_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--color-base-font));
}
.profile_name {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.profile_bio {
    font-size: 16px;
    margin: 0;
    padding-left: 5px;
}

.profile_navs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid var(--color-secondary);
    width: 100%;
}
input[name="profile_nav"] + label{
    font-size: 18px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
input[name="profile_nav"]:checked + label {
    color: rgb(var(--color-base-font));
    border-bottom: 2px solid var(--color-secondary);
}