#profile .feed_layer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.user_profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    padding-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    width: min(90vw,600px);
}
.profile_horiz_pane {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.profile_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#profile_avatar_preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    flex: 0 0 auto;
}
.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--color-base-font));
}
.profile_name {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.profile_bio {
    font-size: 16px;
    margin: 0;
    padding-left: 5px;
}

.profile_navs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid var(--color-secondary);
    width: 100%;
}
input[name="profile_nav"] + label{
    font-size: 18px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
input[name="profile_nav"]:checked + label {
    color: rgb(var(--color-base-font));
    border-bottom: 2px solid var(--color-secondary);
}
#profile .feed_layer .core_feed, .profile_setting {
    display: none;
}

#profile .feed_layer:has(#profile_nav_post:checked) #profile_posts_container {
    display: flex;
}
#profile .feed_layer:has(#profile_nav_bookmarks:checked) #profile_bms_container{
    display: flex;
}
#profile .feed_layer:has(#profile_nav_settings:checked) .profile_setting {
    display: flex;
}

#profile_avatar_preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-secondary);
}
.profile_setting {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: flex-start;
}
.profile_setting_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
.profile_pic_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.profile_pic_container #change_profile_pic_btn {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px
}
.profile_setting_item button, #change_profile_pic_btn {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px;
    &:hover {
        background-color: color-mix(in srgb, var(--color-secondary), black 20%);
    }
    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.profile_setting_item h2 {
    text-align: left;
    margin-left: 0;
}