
.signin-form {
    position: absolute;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 40px);
    max-width: 400px;
    min-width: 200px;
    gap: 10px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--color-base-background));
    box-shadow: 1px 1px 2px rgba(var(--color-base-font), 0.5);
    border-radius: 25px;
    color: rgb(var(--color-base-font));
}


.sign-button{
    background-color: var(--color-secondary);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    &:hover {
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    &:disabled {
        background-color: grey;
        cursor: not-allowed;
        box-shadow: none;
    }
}
.register-button {
    background-color: #FFE041;
    color: black;
}
.input-group {
    position: relative;
    margin: 10px 0;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgb(var(--color-base-background));
    color: rgb(var(--color-base-font))
}

.input-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    background-color:rgb(var(--color-base-background));
    padding: 0 4px;
    color: rgb(var(--color-base-font));
}

h2 {
    text-align: center;
    margin: 10px 20px;
}

.mini-logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;

}

.auth-switch {
    background: none;
    border: none;
    color: #2876CD;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#confirm-pass-group {
    display: none;
}
#signin .signin {
    display: none;
}
#signup-extra {
    display: none;
}
#signup-profile-preview {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-pic-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#attach-photo {
    flex: 1 0 auto;
    border: none;
    border-radius: 999px;
    padding: 5px 15px;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight:bold;
    padding-top: 5px;
    color: black;
    cursor: pointer;
    &:hover {
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

}