
.main_body_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}
.users_page_title {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-secondary);
}
.users_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(600px, 100%);
}
.filters_container {
    color: rgb(var(--color-base-font));
}

.user_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 9999px;
    background-color: var(--color-primary);
}
.users_user_icon {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.users_user_text_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.users_user_display_name {
    font-size: 18px;
    font-weight: 700;
}
.users_user_role {
    font-size: 14px;
    color: white;
    background-color: var(--color-secondary);
    border-radius: 9999px;
    padding: 4px 10px;
    cursor: pointer;
}
#load_more_users_button {
    padding: 10px 20px;
    border: none;
    border-radius: 9999px;
    background-color: var(--color-secondary);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.filters_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}